@import'./global.scss';

.container{
    width: 800px;
    margin: auto;
    display: flex;
    background: $white;
    border-radius: 20px;
}

.bill{
    width: 50%;
    margin: 30px;
    text-align: left;

    h2{
        font-size: 16px;
        color: $grey-500;
        margin-bottom: 8px;
    }

    .inputBill,
    .inputPerson{
        width: 100%;
        padding: 10px;
        background: #f4fafb;
        border: none;
        text-align: right;
        font-family: $family;
        font-size: 16px;
        color: $green-900;
    }

    .inputBill{ 
        background: url('images/icon-dollar.svg') no-repeat scroll 7px 7px $grey-50;
        background-position: left;
        margin-bottom: 20px;
    }
    .inputPerson{
        background: url('images/icon-person.svg') no-repeat scroll 7px 7px $grey-50;
        background-position: left;
    }
}

.btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 40px;
    button{
        padding: 10px;
        background: $green-900;
        border-radius: 10px;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        font-family: $family;
        border: none;
        transition: 0.3s ease-out;
    }

    button:hover{
        background: $green-400;
        color: $green-900;
        transition: 0.3s ease-out;
    }

    #custom{
        background: $grey-50;
    }

    input{
        height: 100%;
        background: #00000000;
        border: none;
        width: 74px;
        font-family: $family;
        font-size: 16px;
        font-weight: 700;
        color: #00494d;
    }

    input::placeholder{
        font-family: $family;
        font-weight: 700;
        font-size: 16px;
        color: $grey-500;
    }
}

.amount{
    width: 50%;
    margin: 30px;
    border-radius: 20px;
    text-align: left;
    background: $green-900;
    color: $green-400;
    padding: 20px;
    article{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 40px;
        }
        h3{
            color: $white;
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    button{
        width: 100%;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background: $green-400;
        color: $green-900;
        margin-top: 70px;
        font-size: 16px;
        font-weight: 700;
        transition: 0.3s ease-out;
    }
    button:hover{
        background: $grey-200;
        color: $green-900;
        transition: 0.3s ease-out;
    }
}

@media screen and (max-width:1024px) {
    .container{
        display: block;
        width: 600px;
        padding: 20px 0;
    }
    .amount{
        width: auto;
    }
}

@media screen and (max-width:767px){
    .container{
        width: 100%;
    }
    .bill{
        width: auto;
    }
    .amount{
        margin: 0;
    }
    .btn{
        grid-template-columns: repeat(2, 1fr);
    }
}