@import'./variables';

body{
    max-width: 1440px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: $grey-200;
    font-family: $family;
    font-size: 16px;
    img{
        padding: 80px 0;
    }
}