@import'./variables';

body{
    max-width: 1440px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: $grey-200;
    font-family: $family;
    font-size: 16px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    img{
        padding: 30px 0;
        width: 50px;
    }
}